@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Palmira <br />
    Calle Reforma #113<br />
    <br />
    <abbr title="Telefóno">Tel:</abbr>
    777 326 56 09
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Soporte@ineel.mx</a><br />
    <strong>Contacto:</strong> <a href="mailto:Marketing@example.com">Contacto@ineel.mx</a>
</address>